.component135Wrapper {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0px 0px 73px;
  box-sizing: border-box;
  max-width: 100%;
}
.root {
  width: 100%;
  position: relative;
  background-color: var(--color-white);
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-xl) 0px 0px;
  box-sizing: border-box;
  gap: var(--gap-4xs);
  line-height: normal;
  letter-spacing: normal;
}

@media screen and (max-width: 1050px) {
  .component135Wrapper {
    padding-bottom: var(--padding-28xl);
    box-sizing: border-box;
  }
}
