.exploreCreateInnovate {
  margin: 0;
  width: 680px;
  position: relative;
  font-size: inherit;
  font-weight: 400;
  font-family: inherit;
  display: inline-block;
  flex-shrink: 0;
  z-index: 2;
}
.discoverOurCuttingEdge {
  margin: 0;
  width: 545px;
  position: relative;
  font-size: var(--font-size-21xl);
  line-height: 148%;
  font-weight: 400;
  font-family: var(--font-sans-serif-collection);
  display: inline-block;
  flex-shrink: 0;
  z-index: 1;
}
.exploreCreateInnovateParent {
  height: 304px;
  width: 680px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0px 0px var(--padding-157xl);
  box-sizing: border-box;
  margin-right: 50px;
}
.nestedComponent {
  height: 414px;
  width: px;
  background-color: var(--color-gray-400);
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0px 0px var(--padding-91xl) var(--padding-1432xl);
  box-sizing: border-box;
}
.component73 {
  position: absolute;
  top: 0px;
  left: 0px;
  margin-left: -1300px;
  width: 1650px;
  height: 414px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  text-align: left;
  font-size: var(--font-size-31xl);
  color: var(--color-darkslategray-100);
  font-family: var(--font-audiowide);
}


.imgc{
  height: 700px;
  margin-top: -100px;
}