.handsOnScalableLearning {
  margin: 0;
  width: 321px;
  position: relative;
  font-size: inherit;
  letter-spacing: 0.02em;
  line-height: 31.2px;
  font-weight: 700;
  font-family: inherit;
  display: inline-block;
  flex-shrink: 0;
}
.component124property1prope {
  height: 63px;
  width: 321px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0px 0px var(--padding-12xl);
  box-sizing: border-box;
  text-align: center;
  font-size: var(--font-size-3xl);
  color: var(--color-darkslategray-100);
  font-family: var(--font-open-sans);
}
