.chooseItemOne {
  width: 336px;
  height: 63px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0px var(--padding-mini) 0px 0px;
  box-sizing: border-box;
  z-index: 3;
}
.ourAdvancedSimulators {
  /* width: 303px;
  height: 186px;
  position: absolute;
  margin: 0 !important;
  top: 75px;
  left: 23px;
  font-size: var(--font-size-sm);
  letter-spacing: 0.02em;
  line-height: 166%;
  font-weight: 600;
  text-align: left;
  display: inline-block;
  z-index: 1; */
  width: 380.5px;
  height: 300px;
  position: absolute;
  /* margin: 0 !important; */
  top: 75px;
  left: 23px;
  letter-spacing: 0.02em;
  line-height: 166%;
  font-weight: 600;
  display: inline-block; 
  z-index: 1;
  font-size: 18px;
  text-align: left;
  margin-left: 17px;
}
.integratedLearning479aa0e191Icon {
  width: 350px;
  position: relative;
  height: 230px;
  /* object-fit: cover; */
  z-index: 1;
  margin-top: 75px;
}

.component134 {
  height: 600px;
  width: 450px;
  border-radius: var(--br-xl);
  background-color: var(--color-lightblue-100);
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  padding: var(--padding-8xl) 0px var(--padding-12xs-4);
  box-sizing: border-box;
  position: relative;
  gap: var(--gap-186xl);
  text-align: center;
  font-size: var(--font-size-3xl);
  color: var(--color-darkslategray-100);
  font-family: var(--font-open-sans);
  margin-left: 30px;
  margin-right: 10px;
}
