.component131{
  background-color: #B0D1D9;
  height: 380px;
  width: 380px;
  margin-left: -15px;
  border-radius: var(--br-xl);
  /* background-color: var(--color-thistle-100); */
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-8xl) var(--padding-5xl) var(--padding-25xl);
  box-sizing: border-box;
  gap: var(--gap-2xs);
  text-align: center;
  font-size: 20px;
}
.component132{
background-color: #D8C7E6;
height: 380px;
  width: 380px;
  margin-left: -15px;
  border-radius: var(--br-xl);
  /* background-color: var(--color-thistle-100); */
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-8xl) var(--padding-5xl) var(--padding-25xl);
  box-sizing: border-box;
  gap: var(--gap-2xs);
  text-align: center;
  font-size: 20px;
}
.component133{
background-color: #BEE5BF;
height: 380px;
  width: 380px;
  margin-left: -15px;
  border-radius: var(--br-xl);
  /* background-color: var(--color-thistle-100); */
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-8xl) var(--padding-5xl) var(--padding-25xl);
  box-sizing: border-box;
  gap: var(--gap-2xs);
  text-align: center;
  font-size: 20px;
}
.component134{
background-color: #F7C6C7;
height: 380px;
  width: 380px;
  margin-left: -15px;
  border-radius: var(--br-xl);
  /* background-color: var(--color-thistle-100); */
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-8xl) var(--padding-5xl) var(--padding-25xl);
  box-sizing: border-box;
  gap: var(--gap-2xs);
  text-align: center;
  font-size: 20px;
}
.intelearn1{
  width: 260px;
  position: relative;
  line-height: 31.2px;
  display: inline-block;
  margin-left: 25px;
}
.futureproof3{
  width: 260px;
  position: relative;
  line-height: 31.2px;
  display: inline-block;
  margin-left: 25px;
}
.inhouse4{
  width: 260px;
  position: relative;
  line-height: 31.2px;
  display: inline-block;
  margin-left: 25px;
}
.accessibleEducation{
  width: 260px;
  position: relative;
  line-height: 31.2px;
  display: inline-block;
  margin-left: 25px;
}



.affordableEasyToUseStem1{
  margin: 0;
  font-family: inherit;
  font-size: 17px;
  padding-left: var(--padding-lgi);
  
}

.affordableEasyToUseContainer1{
  width: 300px;
  position: relative;
  letter-spacing: 0.02em;
  line-height: 166%;
  font-weight: 600;
  display: inline-block;
  text-align: left;
}

.durabilityLabels1 {
  width: 150px;
  height: 186px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0px 0px 0px var(--padding-11xs);
  box-sizing: border-box;
  text-align: left;
  /* font-size: var(--font-size-sm); */
  font-size: 17px;
  margin-left: 0px;
  margin-top: 10px;
}



.affordableEasyToUseStem2{
  margin: 0;
  font-family: inherit;
  font-size: 17px;
  padding-left: var(--padding-lgi);
}

.affordableEasyToUseContainer2{
  width: 300px;
  position: relative;
  letter-spacing: 0.02em;
  line-height: 166%;
  font-weight: 600;
  display: inline-block;
  text-align: left;
}





.affordableEasyToUseStem3{
  margin: 0;
  font-family: inherit;
  font-size: 17px;
  padding-left: var(--padding-lgi);
}

.affordableEasyToUseContainer3{
  width: 300px;
  position: relative;
  letter-spacing: 0.02em;
  line-height: 166%;
  font-weight: 600;
  display: inline-block;
  text-align: left;
}


.affordableEasyToUseStem4{
  margin: 0;
  font-family: inherit;
  font-size: 17px;
  padding-left: var(--padding-lgi);
}

.affordableEasyToUseContainer4{
  width: 300px;
  position: relative;
  letter-spacing: 0.02em;
  line-height: 166%;
  font-weight: 600;
  display: inline-block;
  text-align: left;
}









.whatWeOffer {
  margin: 0;
  position: relative;
  font-size: inherit;
  font-weight: 800;
  font-family: inherit;
}
.whatWeOfferWrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0px var(--padding-75xl) 0px var(--padding-635xl);
  margin-left: 240px;
}
.img76931Icon {
  align-self: stretch;
  flex: 1;
  position: relative;
  border-radius: var(--br-xl);
  max-width: 100%;
  overflow: hidden;
  height: 750px;
  object-fit: cover;
  margin-right: 10px;
  margin-left: 60px;
  border-radius: 50px;
  width: 580px;
}
.img76931Wrapper {
  height: 750px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-4xl) 0px 0px;
  box-sizing: border-box;
  /* min-width: 429.8px;
  max-width: 100%; */
}


.accessibleEducation {
  width: 260px;
  position: relative;
  line-height: 31.2px;
  display: inline-block;
  margin-left: 25px;
}
.affordableEasyToUse {
  margin-bottom: 0px;
}
.affordableEasyToUseStem {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  padding-left: var(--padding-lgi);
}
.affordableEasyToUseContainer {
  width: 260px;
  position: relative;
  letter-spacing: 0.02em;
  line-height: 166%;
  font-weight: 600;
  display: inline-block;
}
.durabilityLabels1 {
  width: 350px;
  height: 186px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0px 0px 0px var(--padding-11xs);
  box-sizing: border-box;
  text-align: left;
  /* font-size: var(--font-size-sm); */
  font-size: 17px;
  margin-left: 13px;
  margin-top: 10px;
}
.component130 {
  height: 380px;
  width: 380px;
  margin-left: -15px;
  border-radius: var(--br-xl);
  background-color: var(--color-thistle-100);
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-8xl) var(--padding-5xl) var(--padding-25xl);
  box-sizing: border-box;
  gap: var(--gap-2xs);
  text-align: center;
  font-size: 25px;
}


.learningIntegration {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-12xl);
  
}
.integrationDetails {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-2xl);
  min-width: 410px;
  max-width: 100%;

}
.offerDetails {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-74xl-2);
  max-width: 100%;
  text-align: justify;
  font-size: var(--font-size-xl);
  
}
.offerContent {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-6xl);
  max-width: 100%;
  
}
.offerContentWrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0px var(--padding-34xl);
  box-sizing: border-box;
  /* max-width: 100%; */
  width: 1600px;
  text-align: left;
  font-size: var(--font-size-29xl);
  color: var(--color-darkslategray-100);
  font-family: var(--font-open-sans);
}

@media screen and (max-width: 1125px) {
  .whatWeOfferWrapper {
    padding-left: var(--padding-308xl);
    padding-right: var(--padding-28xl);
    box-sizing: border-box;
  }

  .offerDetails {
    gap: var(--gap-28xl);
    margin-left: 100px;
  }
}
@media screen and (max-width: 1050px) {
  .whatWeOffer {
    font-size: var(--font-size-10xl);
  }

  .whatWeOfferWrapper {
    padding-left: var(--padding-xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 750px) {
  .whatWeOfferWrapper {
    padding-left: var(--padding-144xl);
    padding-right: var(--padding-4xl);
    box-sizing: border-box;
  }

  .img76931Wrapper {
    min-width: 100%;
  }

  .learningIntegration {
    gap: var(--gap-mini);
    flex-wrap: wrap;
  }

  .integrationDetails {
    min-width: 100%;
  }

  .offerDetails {
    gap: var(--gap-4x1);
  }

  .offerContentWrapper {
    padding-left: var(--padding-7xl);
    padding-right: var(--padding-7xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 450px) {
  .whatWeOffer {
    font-size: var(--font-size-19xl);
  }

  .img76931Icon {
    align-self: stretch;
    width: auto;
  }

  .img76931Wrapper {
    flex: 1;
  }

  .offerDetails {
    flex-wrap: wrap;
  }
}
