.imageIcon {
  width: 320px;
  height: 320px;
  position: relative;
  border-radius: var(--br-base);
  object-fit: cover;
}
.marieBill {
  margin: 0;
  width: 115px;
  position: relative;
  font-size: inherit;
  letter-spacing: 0.02em;
  font-weight: 700;
  font-family: inherit;
  display: inline-block;
}
.customerCareLead {
  width: 147px;
  position: relative;
  font-size: var(--font-size-base);
  letter-spacing: 0.02em;
  display: inline-block;
}
.imageParent {
  width: 320px;
  height: 380.4px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xs-7);
}
.teamMemberCard {
  height: 380.4px;
  width: 325.6px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0px var(--padding-7xs-6) 0px 0px;
  box-sizing: border-box;
  text-align: center;
  font-size: var(--font-size-5xl);
  color: var(--color-darkslategray-100);
  font-family: var(--font-podkova);
}
