@import url("https://fonts.googleapis.com/css2?family=Audiowide:wght@400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,600;0,700;0,800;1,600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Segoe+UI:wght@400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Sans+Serif+Collection:wght@400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Podkova:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");
body {
  margin: 0;
  line-height: normal;
}
:root {
  /* Fonts */
  --font-segoe-ui: "Segoe UI";
  --font-open-sans: "Open Sans";
  --font-mulish: Mulish;
  --font-audiowide: Audiowide;
  --font-nunito: Nunito;
  --font-sans-serif-collection: "Sans Serif Collection";
  --font-poppins: Poppins;
  --font-podkova: Podkova;

  /* font sizes */
  --font-size-xs: 12px;
  --font-size-sm: 14px;
  --font-size-mini: 15px;
  --font-size-base: 16px;
  --font-size-lg: 18px;
  --font-size-lgi: 19px;
  --font-size-xl: 20px;
  --font-size-3xl: 22px;
  --font-size-5xl: 24px;
  --font-size-6xl: 25px;
  --font-size-8xl: 27px;
  --font-size-10xl: 29px;
  --font-size-11xl: 30px;
  --font-size-17xl: 36px;
  --font-size-19xl: 38px;
  --font-size-21xl: 40px;
  --font-size-29xl: 48px;
  --font-size-31xl: 50px;

  /* Colors */
  --color-darkgray: #b1b1b1;
  --color-darkseagreen: #bee5bf;
  --color-darkslategray-100: #4a4a4a;
  --color-darkslategray-200: rgba(74, 74, 74, 0.5);
  --color-darkturquoise: #43d7e5;
  --color-gainsboro-100: #dedede;
  --color-gainsboro-200: #dcdcdc;
  --color-gainsboro-300: rgba(217, 217, 217, 0);
  --color-gray-100: #909090;
  --color-gray-200: #2b2b2b;
  --color-gray-300: rgba(255, 255, 255, 0.2);
  --color-gray-400: rgba(255, 255, 255, 0);
  --color-gray-500: rgba(0, 0, 0, 0);
  --color-lightblue-100: #bde0fe;
  --color-lightblue-200: #b5e2fa;
  --color-lightblue-300: #b0d1d9;
  --color-lightsalmon: #f7a072;
  --color-mediumorchid: rgba(155, 61, 191, 0);
  --color-palegoldenrod: #eddea4;
  --color-pink: #f7c6c7;
  --color-plum: #d9a2e5;
  --color-silver-100: #c1c1c1;
  --color-silver-200: rgba(193, 193, 193, 0);
  --color-thistle-100: #d8c7e6;
  --color-white: #fff;

  /* Gaps */
  --gap-8xs: 5px;
  --gap-6xs: 7px;
  --gap-5xs-5: 7.5px;
  --gap-5xs-7: 7.7px;
  --gap-5xs: 8px;
  --gap-4xs: 9px;
  --gap-2xs: 11px;
  --gap-xs: 12px;
  --gap-smi: 13px;
  --gap-sm: 14px;
  --gap-mini: 15px;
  --gap-base: 16px;
  --gap-mid: 17px;
  --gap-lg: 18px;
  --gap-lgi: 19px;
  --gap-xl: 20px;
  --gap-2xl: 21px;
  --gap-3xl: 22px;
  --gap-4xl: 23px;
  --gap-6xl: 25px;
  --gap-7xl: 26px;
  --gap-8xl: 27px;
  --gap-11xl: 30px;
  --gap-12xl: 31px;
  --gap-13xl: 32px;
  --gap-14xl: 33px;
  --gap-16xl: 35px;
  --gap-18xl: 37px;
  --gap-19xl: 38px;
  --gap-21xl: 40px;
  --gap-23xl: 42px;
  --gap-26xl: 45px;
  --gap-27xl: 46px;
  --gap-28xl: 47px;
  --gap-30xl: 49px;
  --gap-31xl: 50px;
  --gap-34xl: 53px;
  --gap-38xl: 57px;
  --gap-40xl: 59px;
  --gap-40xl-2: 59.2px;
  --gap-44xl: 63px;
  --gap-51xl: 70px;
  --gap-55xl: 74px;
  --gap-59xl-4: 78.4px;
  --gap-61xl: 80px;
  --gap-64xl: 83px;
  --gap-74xl-2: 93.2px;
  --gap-79xl: 98px;
  --gap-91xl: 110px;
  --gap-108xl: 127px;
  --gap-133xl: 152px;
  --gap-139xl: 158px;
  --gap-144xl: 163px;
  --gap-186xl: 205px;
  --gap-294xl: 313px;
  --gap-458xl: 477px;

  /* Paddings */
  --padding-12xs-4: 0.4px;
  --padding-12xs: 1px;
  --padding-11xs: 2px;
  --padding-10xs: 3px;
  --padding-9xs-2: 3.2px;
  --padding-9xs: 4px;
  --padding-8xs-6: 4.6px;
  --padding-8xs: 5px;
  --padding-7xs-6: 5.6px;
  --padding-7xs: 6px;
  --padding-6xs: 7px;
  --padding-5xs: 8px;
  --padding-4xs: 9px;
  --padding-3xs: 10px;
  --padding-xs: 12px;
  --padding-smi: 13px;
  --padding-sm: 14px;
  --padding-mini: 15px;
  --padding-base: 16px;
  --padding-lgi: 19px;
  --padding-xl: 20px;
  --padding-2xl: 21px;
  --padding-3xl: 22px;
  --padding-4xl: 23px;
  --padding-5xl: 24px;
  --padding-6xl: 25px;
  --padding-7xl: 26px;
  --padding-8xl: 27px;
  --padding-9xl: 28px;
  --padding-9xl-8: 28.8px;
  --padding-10xl: 29px;
  --padding-10xl-2: 29.2px;
  --padding-11xl: 30px;
  --padding-12xl: 31px;
  --padding-12xl-2: 31.2px;
  --padding-13xl: 32px;
  --padding-14xl: 33px;
  --padding-15xl: 34px;
  --padding-18xl: 37px;
  --padding-20xl: 39px;
  --padding-22xl: 41px;
  --padding-24xl: 43px;
  --padding-25xl: 44px;
  --padding-27xl: 46px;
  --padding-28xl: 47px;
  --padding-29xl: 48px;
  --padding-33xl: 52px;
  --padding-34xl: 53px;
  --padding-36xl: 55px;
  --padding-39xl: 58px;
  --padding-40xl: 59px;
  --padding-44xl: 63px;
  --padding-46xl: 65px;
  --padding-47xl: 66px;
  --padding-48xl: 67px;
  --padding-52xl: 71px;
  --padding-61xl: 80px;
  --padding-65xl: 84px;
  --padding-66xl: 85px;
  --padding-69xl: 88px;
  --padding-70xl: 89px;
  --padding-75xl: 94px;
  --padding-85xl: 104px;
  --padding-91xl: 110px;
  --padding-111xl: 130px;
  --padding-126xl: 145px;
  --padding-137xl: 156px;
  --padding-138xl: 157px;
  --padding-144xl: 163px;
  --padding-151xl: 170px;
  --padding-157xl: 176px;
  --padding-185xl: 204px;
  --padding-241xl: 260px;
  --padding-308xl: 327px;
  --padding-322xl: 341px;
  --padding-407xl: 426px;
  --padding-408xl: 427px;
  --padding-521xl: 540px;
  --padding-522xl: 541px;
  --padding-635xl: 654px;
  --padding-664xl: 683px;
  --padding-1432xl: 1451px;

  /* Border radiuses */
  --br-3xs: 10px;
  --br-sm-6: 13.6px;
  --br-sm: 14px;
  --br-base: 16px;
  --br-xl: 20px;
  --br-6xl: 25px;
  --br-21xl: 40px;
  --br-31xl: 50px;
  --br-7189xl-4: 7208.4px;
}
